<?xml version="1.0"?>

<launch>
  <arg name="model_path" default="$(find-pkg-share roomba_description)/urdf/roomba.urdf.xacro"/>
  <arg name="robot_description" default="$(command 'xacro $(var model_path)')"/>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <include file="$(find-pkg-share gazebo_ros)/launch/gazebo.launch.py">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <include file="$(find-pkg-share roomba_description)/launch/control.launch"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_entity.py" respawn="false" output="screen"
    args="-urdf
          -model roomba
          -topic robot_description
          -x $(var x)
          -y $(var y)
          -z $(var z)
          -R $(var roll)
          -P $(var pitch)
          -Y $(var yaw)"/>
</launch>
